
<li class="item">
  <a href="/all-patients" class="nav_link">
    <span class="navlink_icon">
      <i class='bx bxs-user-detail' ></i>
    </span>
    <span class="navlink">All Patients</span>
  </a>
</li>

<li class="item">
  <a href="/" class="nav_link">
    <span class="navlink_icon">
      <i class='bx bxs-user-detail' ></i>
    </span>
    <span class="navlink">Link 2</span>
  </a>
</li>


<li class="item">
  <a href="/" class="nav_link">
    <span class="navlink_icon">
      <i class='bx bxs-user-detail' ></i>
    </span>
    <span class="navlink">Link 3</span>
  </a>
</li>