<div class="d-flex justify-content-between flex-wrap">
  <span><b>New Patient</b></span>
  <a href="/" class="btn btn-primary btn-sm">Back</a>
</div>

<%= render 'patient_form', patient: @patient %>

