


/* ************************************************************************************* */
/* *********************************sidebar css ******************************************* */
/* ************************************************************************************* */
.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 80px 20px;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 5px var(--grey-color-light);
  transition: all 0.5s ease;
  }
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}
.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}
.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}
.navlink_icon:hover {
  background: var(--blue-color);
}
.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.nav_link:hover {
  color: black;
  background: rgb(214, 237, 245);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
#sidebarOpen {
  display: none;
}
/* ************************************************************************************* */
/* *********************************admin main ******************************************* */
/* ************************************************************************************* */

.admin-main{
    margin-left: 260px;
    transition: all 0.5s ease;
    border-radius: 15px;
}

.main-expand{
    margin-right: 0px;
    margin-left: 0px;
}



/* *********************************** refresh button + download to csv button************* */
.buttons{
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }
  .sidebar.close {
    left: -100%;
  }
  .admin-main{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
}


/* ******************************************************************************************* */

.flex-right{
  justify-content: end;
}